.card {
    box-shadow: 1px 2px 5px grey;
}

.card:hover {
    box-shadow: 1px 2px 5px #AAC4FF;
}

.list-pagination {
    cursor: pointer;
    width: 25px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    border-radius: 50%;
    background-color: #AAC4FF;
}

.list-pagination:hover {
    background-color: grey;
    color: white;
}